@model List<Kullanicı>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 col-lg-12 col-xxl-12 d-flex">
	<div class="card flex-fill">

		<div style="display:flex; justify-content:space-between; align-items:center"> 
			<div class="card-header">

				<h5 class="card-title mb-0">Kullanıcılar</h5>


			</div>
			<div  >
				<a href="/Kullanıcı/Create" class="btn btn-success btn-sm">
					➕ Yeni Kullanıcı Ekle
				</a>
			</div>
		</div>

		<br />
	
		<table class="table table-hover my-0">
			<thead>
				<tr>
					<th>ID</th>
					<th>Ad Soyad</th>
					<th>Eposta</th>
					<th>Sifre</th>

					<th >Güncelle</th>
					<th >Sil</th>
				</tr>
			</thead>
			<tbody>

				@foreach (var item in Model)
				{
					<tr>

						<td><span class="badge bg-secondary">@item.ID</span></td>
						<td><span class="badge bg-warning">@item.AdSoyad</span></td>
						<td><span class="badge bg-info">@item.Eposta</span></td>
						<td><span class="badge bg-success">@item.Sifre</span></td>
						<td><a href="/Kullanıcı/Update/@item.ID" class="badge bg-primary">Güncelle</a></td>
						<td><a href="/Kullanıcı/Delete/@item.ID" class="badge bg-danger">Sil</a></td>
						
					</tr>

					
                }
				
		
			</tbody>
		</table>
	</div>
</div>

